@model zlobek.Entities.Groups

<h2>Delete Group</h2>
<form asp-action="/Group/Delete" asp-controller="Group" method="post">
<div class="form-group">
    <label for="GroupId" class="control-label">Group Id:</label>
    <input type="text" name="GroupId" class="form-control" />
    <input type="hidden" name="GroupId" value="@ViewData["GroupId"]" />
</div>
    <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
</form>