<h2>Groups</h2>


    <table class="table">
        <thead>
            <tr>
                <th>Group Name</th>
                <th>Number of Members</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model)
            {
                <tr>
                    <td>@group.Name</td>
                    <td>@group.NOMembers</td>
                </tr>
            }
        </tbody>
    </table>
