@model IEnumerable<zlobek.Entities.Groups>

<h2>Groups</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Group Name</th>
                <th>Number of Members</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model)
            {
                <tr>
                    <td>@group.Name</td>
                    <td>@group.NOMembers</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No groups found.</p>
}
